extends layout

block content
  .row
    .col-md-2
    .col-md-8
      h3= title
  .row
    .col-md-2
    .col-md-6
      form(action='/add', method='POST')
        .form-group
         input.form-control.title-area(type='text', name='course' placeholder='Course Name')
        .form-group
          select.form-control(id = 'sub_drop' name = 'subject')
            option(value = '' disabled selected) Choose Subject
            for subject in subjects
              option(value = subject)
                p #{subject}
        .form-group
          select.form-control(id = 'plat_drop' name = 'platform')
            option(value = '' disabled selected) Choose Platform
            for platform in platforms
              option(value = platform)
                p #{platform}
        .form-group
          select.form-control(id = 'org_drop' name = 'organization')
            option(value = '' disabled selected) Choose Organization
            for org in orgs
              option(value = org)
                p #{org}
        .form-group
          select.form-control(id = 'topic1_drop' name = 'topic1')
            option(value = '' disabled selected, id = 'topic1_op') Choose topic 1
            for topic in topics
              option(value = topic)
                p #{topic}
        .form-group
          select.form-control(id = 'topic2_drop' name = 'topic2')
            option(value = '' disabled selected, id = 'topic2_op') Choose topic 2
            for topic in topics
              option(value = topic)
                p #{topic}
        p#warning
        .form-group
          button.btn.btn-sm.btn-primary.btn-block Add Course

