extends layout

block content
  .row
    .col-md-2
    .col-md-8
      h3= title
      form(action='/delete', method='POST')
        .form-group
          select.form-control(id = 'del_course' name = 'delCourse')
            option(value = '' disabled selected) Choose Course to Delete
            for course in courses
              option(value = course.course_name)
                p #{course.course_name}
        .form-group
          button.btn.btn-sm.btn-primary.btn-block Delete Course
  .row
    .col-md-2
    .col-md-8
      table.table
        thead
          tr
            th Course Id
            th Course Name
            th Organization
            th Platform
            th Subject
            th Topic 1
            th Topic 2
        tbody
          for course in courses
            tr
              td #{course.course_id}
              td #{course.course_name}
              td #{course.org_name}
              td #{course.platform_name}
              td #{course.subject_name}
              td #{course.topic1_name}
              td #{course.topic2_name}


